.title{
    color: #0F766E;
}
.fondo{
    background-color: #0F766E !important;
}
.borde{
    border-color: #0F766E;
}
.fondoDos{
    background-color: #7febe252 !important;
}
.bordeDos{
    border-color: #4bd8ccb6;
}